<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i|Mukta+Malar:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Flash Cards</title>    
</head>

<body>
  <div class="app-container">
    <div id="app">

      <div id="startPage" class="text-center">
        <h1>Naturalization Test Flash Cards Version2</h1>
        <p style="text-align:centerß;">It takes about 20-30 minutes to go through all the questions. Good Luck!</p>
        <button v-on:click="startTest">START</button>
      </div>

      <div id="flashcard" class="text-center">
        <div v-for="(question, index) in currentQuestions" class="card" v-bind:data-index="index">
          <div id="progress">
              <span>{{index+1}}</span>
              <span>/</span>
              <span>{{countTotal}}</span>
            </div>
          <div>
            <span class="star" v-if="question.star"><i class="fa fa-star" aria-hidden="true"></i></span>
            <span class="question">{{question.ques}}</span>
            <span class="key">No. {{question.key}}</span>
          </div>
          <div>
            <button v-on:click="gotRight(event)">I Got This</button>
            <button id="reviewAgain" v-on:click="gotWrong(event)">Review Later</button>
          </div>
          <div>
              <button v-on:click="showAnswer" class="button-grey"><i class="fa fa-eye" aria-hidden="true"></i></button>
          </div>
          <div class="answer">{{question.ans}}</div>
        </div>
      </div>

      <div id="resultPage" v-if="allDone" class="text-center">
        <h1>You are all done!</h1>
        <p>You finished <span class="highlight">{{countTotal}}</span> questions <span v-if="reviewing">you were not sure earlier</span>. You got <span class="highlight">{{countCorrect}}</span> questions covered, and not sure about <span class="highlight">{{countWrong}}</span> of them. <span v-if="reviewing">Now you should take a rest!</span></p>
        <div>
          <button v-on:click="reloadPage">Start New Test</button>
          <button v-if="countWrong !== 0" v-on:click="reviewWrong">Review Now</button>
        </div>
      </div>

    </div>
</div>
    


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="js/custom.js"></script>

</body>
</html>












